@import url('_vars.css');
@import url('_reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap');

html,
body {
    color: var(--primary);
    font-family: var(--main-font);
    background-color: var(--main-background);
}

a {
    color: inherit;
}
